body, p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaae;
	font-weight: bold;
}

.navbar-header .navbar-brand {
	background-color: #4aaaae;
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
}

.main, .sidebar {
	background-color: #ffffff;
	border: 1px #dddddd solid; 
}

.main {
	padding: 0px 10px 15px;
}

/** Padding for H1 based on .col-md-6 and .col-xs-12 of subcol **/ 
.col-md-8 h1, .col-xs-12 h1, form, .about {
	padding: 0 15px;
}

.about img {
	width: 200px;
	height: 200px;
}

.col-md-4 a img {
	width: 42px;
	height: 42px;
}

.thumbnail {
	position: relative;
	padding: 0;
}

.thumbnail a>img {
	margin-right: 0;
	margin-left: 0;
	width: 100%;
}

.thumbnail .caption {
	position: absolute;
	bottom: 5%;
	left: 0; 
	width: 100%;
	background-color: #4aaaa5;

}

.thumbnail h4 {
	color: #ffffff;
	font-weight: normal;
}

div.desc{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #000;
    color: #fff;
    opacity: 0.5;
    filter: alpha(opacity=50);
}


.center-block {
    float: none;  
}

